language: minimal
services:
    - docker
stages:
  - name: deploy
    if: branch == master AND type = push
jobs:
  include:
    - stage: deploy
      script:
        - echo "$DOCKER_API_TOKEN" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - export APACHE_OIDC_REPO=somrit/apache-oidc
        - docker build -f apache-oidc/Dockerfile -t $APACHE_OIDC_REPO:build-$TRAVIS_BUILD_NUMBER .
        - docker push $APACHE_OIDC_REPO
